/*------------------------------------*\
    Focus - Idventiva 2020
    CONTACT
\*------------------------------------*/

#contact {
  clear:both;
  height: auto;
  overflow: hidden;

  h5 {
    z-index: 1;
    color: $carbon;
  }

  h2 {
    color: $golden;
    padding-bottom: 40px;
    border-bottom: 1px dotted $golden;
    margin-bottom: 40px;
  }
}
.contactContainer {
  position: relative;
  height: auto;
  overflow: hidden;
  max-width: 980px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: rgba(255,255,255,0.9);
  border-bottom: 1px dotted $golden;
  border-top: 1px dotted $golden;
  padding: 70px;
  box-shadow: 0 20px 30px rgba(0,0,0,0.4);
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 32px;
} 
.contact-left {
  position: relative;
  height: auto;
  label {
    color: $golden;
    font-family: 'Futura';
    font-weight: 300;
  }
}
.contact-right {
  position: relative;
}