/*------------------------------------*\
    Focus - Idventiva 2020
    FOOTER
\*------------------------------------*/

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 6%;
  padding: 16px 0px;
  color: $white;
  overflow: hidden;
  z-index: 1;
  pointer-events: none;

  @include phone {
    top:0;
    bottom: auto;
  }


  .social-networks-footer {
    position: absolute;
    right: 7%;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: all;

    @include phone {
      display: none;
    }

    a i {
      margin-right: 8px;
      color: $golden;
      font-size: 20pt;
      transition: 0.35s;
      &:hover {
        color: $white;
      }
    }
  }
}