
/*------------------------------------*\
    Focus - Idventiva 2020
    PAGINA DE INICIO
\*------------------------------------*/

#home {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background-color: #000;
  color: $golden;
  text-align: center;
  
  .logo-container {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    z-index: 1;
    
    .logo__img {
      position: absolute;
      background: url('img/idvlogo.png') no-repeat 50% 50% / cover;
    }
  }

  h2 {
    font-weight: lighter;
    @include phone {
      font-size: 20px;
    }
  }
  
  p {
    color: $lightgray;
    line-height: 2em;
  }

  
  .home-background {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    transform: translateZ(-100px);
    transform-style: preserve-3d;
    pointer-events: none;
    opacity: 1;
    z-index: 0;
    
    .background-image {
      position: absolute;
      height: 100%;
      width: 100%;
      background-image: url(img/backgrounds/moss.jpg);
      background-repeat: repeat-x;
      background-size: cover;
      background-position: left;
      opacity: 0.3;
      pointer-events: none;
    }
  }
  .logix {
    z-index: 1;
    width: auto;
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);

    @include phone-and-tablet {
      width: 100%;
    }

    button {
      margin-top: 40px;
      border-radius: 40px;
    }
  }
}

#features {
  background: #080808;
  height: auto;
  .wrapper {
    margin-top: 180px;
    margin-bottom: 180px;
  }
  .mid--wrapper {
    width: 50%;
  }

  h2 {
    color: $white;
    font-size: 3.85vw;
    text-align: center;
    line-height: 1em;
    font-weight: lighter;
  }
  h3 {
    color: $golden;
    font-size: 1.563vw;
  }
  p {
    color: $lightgray;
    font-size: 1.2rem;
    font-family: 'Geometria';
    margin-top: 10px;
  } 
}