
/*------------------------------------*\
    Focus - Idventiva 2020
    PAGINA DE INICIO
\*------------------------------------*/


#home {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;

  .parallaxLayer {
    .home-background {
      position: absolute;
      top:0;
      left:0;
      right:0;
      bottom:0;
      background-image: url(img/backgrounds/background-01.jpg);
      background-repeat: repeat-x;
      background-size: cover;
      background-position: left;
      transform: translateZ(-100px);
      transform-style: preserve-3d;
      pointer-events: none;
    }

    .parallaxText {
      color: $white;
      position: absolute;
      width: 567px;
      height: 243px;
      left: 460px;
      top:50%;
      transform: translate3D(0,-90%,0px);
      transform-style: preserve-3d;
      pointer-events: none;

      @include phone{
        left: 50%;
        width: 300px;
        transform: translate(-80%, -50%);
        position: absolute;
      };
      @include tablet-portrait {
        left: 22%;
      }
      @include tablet-landscape {
        left: 24%;
      }
      @include desktop {
        left: 18%;
      }

        span {
          position: absolute;
          line-height: 0.8; margin: 0; padding: 0;
        }
        .pT1 { font-size: 22pt; color: $white; font-weight: 300;
          top: 0; left: 0; right: 0; bottom: 0; transform: translateZ(-30px);
        }
        .pT2 { font-size: 40pt; color: $white;
          top: 10%; left: 0; right: 0; bottom: 0;
          transform: translateZ(-20px);
        }
        .pT3 { font-size: 28pt; color: $white; font-weight: 300;
          top: 30%; left: 10%; right: 0; transform: translateZ(-40px);
        }
        .pT4 { font-size: 54pt; color: $white;
          left: 0; bottom: 20%; transform: translateZ(-1px);
          @include phone {
            font-size: 34px;
            bottom: 40%;
          }
        }
        .pT5 { font-size: 146px; color: $golden; font-family: 'IbarraRealNova';
          right: 31%; bottom: 0; transform: translateZ(-50px);
          @include phone {
            font-size: 100px;
            bottom: 20%;
          }
        }
        .pT6 { font-size: 34pt; color: $white;
          right: 0; bottom: 10%; transform: translateZ(-2px);
          line-height: 0.8;
          @include phone {
            font-size: 22px;
            bottom: 20%;
          }
        }
      }
    }
  }

/* Slider diagonal */

.sliderContainer {
  position: relative;
  background-color: transparent;
  width: 50vw;
  position: fixed;
  top:0;
  bottom:80px;
  left: 50%;
  pointer-events: none;
  box-shadow: 0 20px 40px rgba(0,0,0,0);
  &:nth-child(2) {
    transform: translateX(-30px);
    height: 70%;
  }
  &:nth-child(3) {
    transform: translateX(30px);
    height: 70%;
    top: auto;
    bottom: 100px;
    .slideBk {
      background-position: bottom;
    }
  }
}

.clone {
  .sliderFix {
    .slider {
      &::after {
        z-index: 200;
        position: absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        }
      .slide {
        background-color: $golden;
        opacity: 0.8;
        .slideBk {
          background-size: 80%;
          opacity: 0.6;
          filter: contrast(100%) sepia(100%) hue-rotate(-20deg);
        }
      }
    }
  }
}

.sliderFix{
position: absolute;
left:0;
right:0;
top:0;
bottom:0;
  .slider {
  width: 180%;
  height: 100%;
  overflow: hidden;
  filter: sepia(10%);
  }
  .bx-wrapper {
  width: 100%;
  height: 100%!important;
  background-color: transparent!important;
  }
  .bx-viewport {
  height: 100%!important;
    .slide {
    position: relative;
    width: 500px!important;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transform: skewX(-25deg) translateX(25vh);
    overflow: hidden;
      .slideBk {
      position: relative;
      width: 200%!important;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      transform: skewX(25deg) translateX(-25%);
      overflow: hidden;
      }
    }
  }
}

#slide00 {background-image: url(img/slides/slide00.jpg); background-position: right;}
#slide01 {background-image: url(img/slides/slide01.jpg);}
#slide02 {background-image: url(img/slides/slide02.jpg);}
#slide03 {background-image: url(img/slides/slide03.jpg);}
#slide04 {background-image: url(img/slides/slide04.jpg);}
#slide05 {background-image: url(img/slides/slide05.jpg);}

