/*------------------------------------*\
    Focus - Idventiva 2020
    PORTAFOLIO
\*------------------------------------*/


#portafolio {
  position: relative;
  height: auto;
  overflow: hidden;

  h1 {
    position: fixed;
    z-index: 1;
    color: $golden;
    left: 130px;
    top: 32px;
    font-weight: 300;
    text-shadow:2px 2px 4px $black;
  }
  h2 {
    position: fixed;
    z-index: 1;
    color: $lightgray;
    left: 130px;
    top: 75px;
    font-weight: 400;
    text-shadow:2px 2px 4px $black;
  }

  .portafolioBackground {
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-image: url(img/backgrounds/background-03.jpg);
    background-repeat: repeat-x;
    background-size: cover;
    background-position: left;
  }

  .bx-viewport {
    box-shadow: 2px 8px 12px rgba(0,0,0,0.8);
  }

  .bx-wrapper {
    overflow: hidden;
    box-shadow: 0 20px 30px rgba(0,0,0,0.4)!important;
  }

  .bx-wrapper .bx-next {
    right: calc(300px + 10px)!important; }

  #portafolioContainer {
    position: relative;
    margin: 180px auto;
    width: 100%;
    max-width: 1120px;
    min-height: 600px;

    .portafolioSlider {
      position: relative;
      width: 100%;
      height: 500px;
      background-color: $black;
      box-shadow: 0 10px 20px rgba(0,0,0,0.8);

        .portafolioSlide{
          position: absolute;
          height: 500px;
          .projectSlide {
            position: absolute;
            width: 100%;
            height: 100%;
            .thumbnail {
              position: absolute;
              width: calc(100% - 300px);
              height: 100%;
              background-size: cover;
              background-position: center;
              background-repeat: no-repeat;
            }
            .details {
              position: absolute;
              right: 0;
              width: 300px;
              height: 100%;
              padding: 80px 30px 30px 30px;
              background-color: $carbon;
              h3 {
                float: right;
                font-size: 40px;
                font-weight: 300;
                margin: 0;
                line-height: 1;
                color: $golden;
              }
              span {
                color: $lightgray;
                float: right;
                clear: both;
                font-size: 12px;
              }
              .excerpt {
                margin-top: 20px;
                font-size: 12px;
                width: 100%;
                text-align: left;
                text-align: justify;
              }
              .date {
                color: $golden;
                border: 1px solid $golden;
                border-radius: 4px;
                padding: 3px 3px 2px;
                line-height: 1;
                font-size: 9px;
                margin-top: 2px;
              }
              a.view-project {
                display: block;
                position: absolute;
                bottom: 60px;
                right: 30px;
                margin-top: 40px;
                float: right;
                clear: both;
                color: $golden;
                transition: 0.25s;
                font-size: 14px;
                &:hover {
                  color:$white;
                  transform: translateY(-4px);
                }
              }
            }
          }
        }
    }


    .portafolioGallery {
      position: relative;
      margin-top: 20px;
      width: 100%;
      height: auto;
      overflow: hidden;
      background-color: $carbon;
      clear: both;
      margin-bottom: 180px;
      box-shadow: 0 20px 30px rgba(0,0,0,0.4);
      .thumbnail {
        position: relative;
        float:left;
        width: 33.3333%;
        padding-bottom: 33.3333%;
        background-size: cover;
        background-position: center;
        a {
          position: absolute;
          display: block;
          width: 100%;
          height: 100%;
          transition: 0.25s;
          &:hover {
            background-color: rgba(255,255,255,0.2);
          }
        }
      }
    }
  }

}

.post-type-archive-portafolio footer {
  clear: both;
  position: fixed;
}

#portafolio .bx-wrapper a {
  z-index: 1!important;
}

.project-container {
  position: relative;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  margin-top: 00px;
  .post-header {
    height: 300px;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-size: cover;
    .section-title {
      position: absolute;
      bottom: 40px;
      font-family: 'Futura Condensed';
      font-size: 58px;
      line-height: 1.3;
      margin-left: 30px;
      margin-right: 30px;
      a {
        color: $black;
        background-color: transparentize($white,0.4);

      }
    }
  }
  article {
    padding: 30px;
    padding-top: 0px;
    line-height: 1.8;
    padding-bottom: 60px
  }
}
