
/*------------------------------------*\
   Focus - Idventiva 2020
   PAGINA DE SERVICIOS
\*------------------------------------*/

body {
   background: $degblack;
}

.service {
   display: grid;
   grid-template-columns: 1fr 1440px 1fr;
   height: auto;
   margin: 0;
   @include dotgrid--white;

   &__pilar {
      display: grid;
      grid-template-columns: 1fr 5fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-column-start: 2;
      height: auto;

      h3 {
         grid-column-start: 2;
         margin-top: 16px;
         margin-bottom: 16px;
         color: $white;
      }

   }

   &__info {
      grid-column-start: 2;
   }

   h5 {
      color: $white;
   }

   h2 {
      color: $lightgolden;
      margin-bottom: 24px;
   }

   p {
      color: $white;
   }
   
   &__cta {
      grid-column-start: 3;

   }

   &__list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-column-start: 2;
      padding: 16px 0px;
   }

   &__item {
      display: flex;
      flex-direction: column;
      grid-row-start: 2;
      padding: 0px 8px;

      i {
         background-image: url("img/triangle.png");
         background-repeat: no-repeat;
         background-position: center;
         background-size: contain;
         width: 80px;
         height: 80px;
         margin: 8px;
      }

      h4 {
         color: $white;
      }

      ul { 
         list-style: none;

         li {
         margin: 8px;
         color: $white;
         }
      }
   }
}


.project-case {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-column-start: 2;
   margin-bottom: 160px;
   
   &__item {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      width: 95%;
      height: 280px;
      margin: 8px;
      padding: 16px;
      border: 3px solid $golden;
      border-radius: 5px;
      background-color: $lightgolden;
   }

   &__info {
      display: flex;
      flex-direction: column;
      justify-content: end;
      align-items: flex-end;

   h3 {
      margin: 0;
      font-weight: 300;
      font-size: 24px;
      color: $carbon;
   }

   ul {
      list-style: none;

      li {
         margin: 4px;
         padding-left: 24px;
         color: $white;
      }
   }
   }

}