
/*------------------------------------*\
    Focus - Idventiva 2020
    SETUP
\*------------------------------------*/

/*----------------------------------------------------- Colors */

$white: #ffffff;
$lightgray: #c3c3c3;
$arsenic: #444444;
$darkgray: #2a2a2a;
$carbon: #1b1b1b;
$black: #000000;
$lightgolden: #d4c3a4;
$golden: #bea373;
$spaceshuttle: #433c36;

$degblack: linear-gradient(90deg, $carbon, $black);
$degwhite: linear-gradient(90deg, $lightgray, $white);
$deggolden: linear-gradient(90deg, $golden, $lightgolden);


/*-------------------------------------------------- Typography */

@font-face {
  font-family: 'Geometria';
  font-weight: 300;
  src: url('fonts/geometria/woff2/Geometria-Light.woff2') format('woff2'),
       url('fonts/geometria/woff/Geometria-Light.woff') format('woff'),
       url('fonts/geometria/ttf/Geometria-Light.ttf')  format('truetype'),
       url('fonts/geometria/svg/Geometria-Light.svg') format('svg');
}

@font-face {
  font-family: 'Geometria';
  font-weight: 400;
  src: url('fonts/geometria/woff2/Geometria.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/geometria/woff/Geometria.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/geometria/ttf/Geometria.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/geometria/svg/Geometria.svg') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Geometria';
  font-weight: 600;
  src: url('fonts/geometria/woff2/Geometria-Medium.woff2') format('woff2'),
       url('fonts/geometria/woff/Geometria-Medium.woff') format('woff'),
       url('fonts/geometria/ttf/Geometria-Medium.ttf')  format('truetype'),
       url('fonts/geometria/svg/Geometria-Medium.svg') format('svg');
}

@font-face {
  font-family: 'Geometria';
  font-weight: 700;
  src: url('fonts/geometria/woff2/Geometria-Bold.woff2') format('woff2'),
       url('fonts/geometria/woff/Geometria-Bold.woff') format('woff'),
       url('fonts/geometria/ttf/Geometria-Bold.ttf')  format('truetype'),
       url('fonts/geometria/svg/Geometria-Bold.svg') format('svg');
}

@font-face {
  font-family: 'Geometria';
  font-weight: 800;
  src: url('fonts/geometria/woff2/Geometria-ExtraBold.woff2') format('woff2'),
       url('fonts/geometria/woff/Geometria-ExtraBold.woff') format('woff'),
       url('fonts/geometria/ttf/Geometria-ExtraBold.ttf')  format('truetype'),
       url('fonts/geometria/svg/Geometria-ExtraBold.svg') format('svg');
}

@font-face {
  font-family: 'IbarraRealNova';
  font-weight: 400;
  src: url('fonts/ibarra_real/woff2/IbarraRealNova-Regular.woff2') format('woff2'),
       url('fonts/ibarra_real/woff/IbarraRealNova-Regular.woff') format('woff'),
       url('fonts/ibarra_real/ttf/IbarraRealNova-Regular.ttf')  format('truetype'),
       url('fonts/ibarra_real/svg/IbarraRealNova-Regular.svg') format('svg');
}

@font-face {
  font-family: 'IbarraRealNova';
  font-weight: 800;
  src: url('fonts/ibarra_real/woff2/IbarraRealNova-Bold.woff2') format('woff2'),
       url('fonts/ibarra_real/woff/IbarraRealNova-Bold.woff') format('woff'),
       url('fonts/ibarra_real/ttf/IbarraRealNova-Bold.ttf')  format('truetype'),
       url('fonts/ibarra_real/svg/IbarraRealNova-Bold.svg') format('svg');
}

$Geometria: 'Geometria', Helvetica, Arial, sans-serif;
$Ibarra: 'IbarraRealNova', Arial, sans-serif;

h1 {
  font-family: $Geometria;
  font-weight: 700;
  font-size: 60px;
  line-height: 72px;
}

h2 {
  font-family: $Geometria;
  font-weight: 300;
  font-size: 40px;
  line-height: 58px;
}

h3 {
  font-family: $Geometria;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

h4 {
  font-family: $Geometria;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
}

h5 {
  font-family: $Ibarra;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

h6 {
  font-family: $Geometria;
  font-weight: 300;
  font-size: 16px;
  line-height: 25px;
}

P {
  font-family: $Ibarra;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}

ul {
  margin-top: 8px;
  list-style: circle;
  font-family: $Geometria;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
}

.button--black {
  display:inline-block;
  width: 140px;
  height: 50px;
  border: 1px solid $golden;
  background: $degblack;
  
  a {
    font-family: $Geometria;
     padding: 8px 16px;
     color: $white;
  }

}

.button--black:hover {
  background: $deggolden;
  color: $carbon;
}

.section__title {
    display: flex;
    grid-column-start: 2;
    flex-direction: column;
    margin: 40px 0px;
    
    h5 {
      margin-bottom: -8px;
      color:$white;
    }
    
    h2 {
      margin: 0;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 2px;
      color: $lightgolden;
    }
    
}


/* ------------------------------------------------Responsive displays */

@mixin phone {
  @media (max-width: 599px) { @content; }
}
@mixin tablet-portrait {
  @media (min-width:600px) and (max-width: 899px) { @content; }
}
@mixin tablet-landscape {
  @media (min-width:900px) and (max-width: 1199px) { @content; }
}
@mixin desktop {
  @media (min-width:1200px) and (max-width: 1799px) { @content; }
}
@mixin big-desktop {
  @media (min-width:1800px) { @content; }
}
@mixin phone-and-tablet {
  @media (max-width: 1200px) { @content; }
}
@mixin both-tablet {
    @media (min-width:600px) and (max-width: 1199px) { @content; }
}
@mixin upto-portrait-tablet {
    @media  (max-width: 899px) { @content; }
}