/*------------------------------------*\
    Focus - Idventiva 2020
    SINGLE PROJECT
\*------------------------------------*/

body {
  background: $degwhite;
  @include dotgrid--black;
  @include fade;
}

.single-project {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-column-start: 2;
  width: 100%;
  padding: 24px 0px;
  margin-bottom: 80px;
  
  @include upto-portrait-tablet {
    grid-template-columns: 32px 1fr 32px;
    
  }

  &__title {
    display: flex;
    flex-direction: column;
    text-align: center;
    grid-column-start: 2;
    margin-bottom: 40px;

    h5 {
      color: $carbon;
    }

    h2 {
      color: $carbon;
      font-weight: bold;
    }
  }

  &__intro {
    display: flex;
    justify-content: space-between; 
    grid-column-start: 2;

    @include upto-portrait-tablet {
      flex-wrap: wrap;
      flex-direction: column-reverse;
    }

    h5 {
      margin-top: 16px;
      font-weight: 600;
      color: $golden;
      }

    p {
      color: $carbon;
    }

    li {
      color: $carbon;
    }

    button {
      margin-top: 40px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    text-align: left;
    width: 40%;

    @include upto-portrait-tablet {
      width: 100%;
    }
  }

  &__img {
    position: relative;
    width: 320px;
    height: 480px;
    overflow: hidden;
    margin-right: 24px;
    border: 2px solid $golden;
    border-radius: 10px;
    background-color: $spaceshuttle;
    cursor: pointer;
    transition: 450ms all;
    transform-origin: center left;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    
    
    @include upto-portrait-tablet {
      width: 100%;
      height: 300px;
    }
  }
  
  &__content {
    grid-column-start: 2;
    margin-top: 40px;
    justify-content: center;
    margin-right: 160px;
    margin-left: 160px;

    &__info {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 50%;
      padding: 40px;
      
      @include phone-and-tablet {
        width: 100%;
        padding: 16px;
        margin-right: 0px;
        margin-left: 0px;
      }
      
      &--left {
        width: 50%;
        padding: 40px;
        align-items: flex-start;
        
        @include phone-and-tablet {
          width: 100%;
          padding: 16px;
        }
        
        h5 {
          margin-top: 16px;
          font-weight: 600;
          color: $golden;
          }
    
        li {
          color: $carbon;
        }
      }

    }

    &__img { 
      
      &--complete {
        display: block;
        width: 100%;
        height: 280px;
        overflow: hidden;
        border: 2px solid $golden;

        @include phone {
          heigth: 400px;
        }
        
        img {
          width: 100%;
          height: auto;
          object-fit: cover;
        }
      }
      
      &--half {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 32px 0px;
        overflow: hidden;
        
        @include phone {
          flex-wrap: wrap;
          flex-direction: column;
        }
        
        img {
          width: 48%;
          height: auto;
          object-fit: cover;
          border: 2px solid $golden;
        
          @include phone {
            width: 100%;
            margin-bottom: 24px;
          }
        }
      }
    }
  }

  .center {
    display: flex;
    justify-content: center;
    button {
      margin-top: 40px;
      margin-bottom: 80px;
      align-self: center;
    }
  }
}