/*------------------------------------*\
    Focus - Idventiva 2020
    SINGLE PROJECT
\*------------------------------------*/

body {
  background: $degwhite;
  @include dotgrid--black;
  @include fade;
}

.single-project {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-column-start: 2;
  width: 100%;
  padding: 24px 0px;

  @include phone-and-tablet {
    grid-template-columns: 40px 1fr 40px;
  }
  
  @include upto-portrait-tablet {
    grid-template-columns: 8px 1fr 8px;
    
  }

  &__title {
    display: flex;
    flex-direction: column;
    text-align: center;
    grid-column-start: 2;
    margin-bottom: 40px;

    @include phone {
      margin-top: 80px;
      margin-bottom: 0px;
    }

    h5 {
      color: $carbon;
    }

    h2 {
      color: $carbon;
      font-weight: bold;
    }

    a {
      color: $golden;

      &:visited {
        color: $golden;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    grid-column-start: 2;
    margin-bottom: 80px;
  }

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    grid-column-start: 2;
    margin: 40px 0px;
    
    @include upto-portrait-tablet {
      flex-wrap: wrap;
      flex-direction: column-reverse;
      margin: 0px;
    }

    h5 {
      margin-top: 16px;
      font-weight: 600;
      color: $golden;
      }

    p {
      color: $carbon;
    }

    button {
      margin-top: 40px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    padding: 24px;
    justify-content: center;
    align-items: flex-start;
    align-content: space-around;
    text-align: left;
    width: 48%;

    @include upto-portrait-tablet {
      width: 100%;
      padding: 16px;
    }

    h3 {
      font-size: 40px;
      line-height: 1.2em;
      @include phone-and-tablet {
        margin-top: 40px;
      }
    }
  }

  &__img {
    position: relative;
    width: 400px;
    height: 540px;
    overflow: hidden;
    border: 2px solid $golden;
    border-radius: 10px;
    transition: 450ms all;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    
    @include upto-portrait-tablet {
      width: 100%;
      height: 300px;
      margin-top: 40px;
    }
  }
}
